streamlit
pandas
numpy
matplotlib
scikit-learn
train_test_split
cross_val_score
GridSearchCV
StandardScaler
LabelEncoder
LogisticRegression
DecisionTreeClassifier
KNeighborsClassifier
SVC
RandomForestClassifier
GradientBoostingClassifier
VotingClassifier
AdaBoostClassifier
BaggingClassifier
score
precision_score
recall_score
f1_score
confusion_matrix
classification_report
roc_curve
auc
precision_recall_curve
average_precision_score
roc_auc_score
matthews_corrcoef
joblib
seaborn
warnings
kagglehub
os
KaggleApi
XGBClassifier
ColumnTransformer
Pipeline
matplotlib.pyplot
RandomForestClassifier
XGBClassifier
OneHotEncoder

